:root{
  --color-red:red;
  --color-darkred:#B53834;
  --color-customRed:#D73F3B;
  --color-yellow:yellow;
  --color-custom1:#6A6A6A;
  --color-custom2:#F9F7F7;
  --color-black:black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif!important;
}

img {
  max-width: 100%;
  display: block;
}
h1,h2,h3,h4,h5,h6 {margin: 0px; font-family: 'Raleway', sans-serif!important;  }
p {margin: 0px;}
ul, li {
	margin: 0px;
	list-style-type: none;
}
.border-left::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0%;
  width: 50%;
  border-bottom: 10px dotted var(--color-customRed);
}
.border-right::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0%;
  width: 50%;
  border-bottom: 10px dotted var(--color-customRed);
}













